{% load static %}
<div style="background-color:rgb(246,246,246); padding: 0px; margin: 0px;">
<table style="border-collapse:collapse;border-spacing:0px;padding:0px;margin:0px;width:100%;height:100%;background-repeat:repeat;background-position:center top" width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>
				<table style="border-collapse:collapse;border-spacing:0px;background-color:rgb(255,255,255);" width="550" align="center" bgcolor="#fff" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="2" style="position: relative;">
							</td>
						</tr>
						<tr>
							<td style="padding: 0px 25px;" colspan="2">
								<table style="font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; border-collapse: collapse; border-spacing: 0px; table-layout: fixed; width: 100%; line-height: 23px; letter-spacing: 0.158px; color: rgb(51,51,51); font-size: 16px;">
									<tr>
										<td style="padding: 25px 0px 0px 0px; margin: 0px;" colspan="2">
											
												<p>
												
												 <strong>
													Thank you for creating your Twous account.</strong>
												</p>
                                                <p>
                                                    We are so excited to have you on board. Already feeling lucky get started. Please click the link below to verify your email and complete your registration.
                                                </p>
                                                <p style="text-align: center; margin-bottom: 30px;">
													<a href="{{token}}"  style="text-decoration:none;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;font-size:18px;color:rgb(255,255,255);box-shadow:0px 2px 3px black;border-style:solid;border-color:rgb(28, 230, 186);border-width:10px 20px;display:inline-block;background:rgb(28, 230, 186) none repeat scroll 0% 0%;border-radius:5px;font-weight:bold;font-style:normal;line-height:22px;width:80%;text-align:center">Verify your Account</a>
												</p>
										
										</td>
                                    </tr>
                                    <tr>
										<td style="padding-bottom: 25px;" colspan="2">
											<hr style="border: 0.3px solid silver;" />
										</td>
									</tr>
									<tr>
										<td colspan="2">
                                            <p>You're now free to use our services, Get started</p>
                                            <p>Thanks,
                                               <br/> <strong>Twous Team </strong></p>
										</td>
									</tr>
									<tr>
										<td style="padding-bottom: 25px;" colspan="2">
											<hr style="border: 0.3px solid silver;" />
										</td>

									</tr>
									
									<tr style = "padding: auto -20px;">
                                     
										<td style ="width: 100%; text-align: center; " colspan="2" >
											<div style="margin: 0px -25px ;background: #efefef; padding: 0px 50px 20px 50px;">
						
                                            <p style="font-size: 14.5px;">Send us an email customer@twous.io or visit www.twous.io to chat with an agent</p>

                                            <p style="font-size: 14px;">You are receiving this email because you have visited Twous and is astatic

												registered user on Twous.io. Unsubscribe</p>
											</div>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>

			</td>
		</tr>
	</tbody>
</table>
</div>